/* ==========================================================================
 * HTML
 * ========================================================================== */

body
  font-family: 'Open Sans', sans-serif

img
  height: auto

a
  color: $black-light
  @extend .animate
  &:hover
    color: $primary
    text-decoration: none
