/* ==========================================================================
 * Styles
 * ==========================================================================

.not-front
  background: $white-dark
  h1
    +breakpoint($break-mobile)
      font-size: 30px

.section
  position: relative
  margin: 2em 0

.section-nav,
.section-footer,
  margin: 0
  padding: 3em 0
  +breakpoint($break-tablet)
    padding: 2em 0 1em

.not-front .section-nav
  background: $white
  border-bottom: 1px solid $gray-light
  +breakpoint($break-tablet)
    text-align: center

.section-banner
  height: 283px
  width: 100%
  background: url('../images/welcome-banner.jpg') center no-repeat
  +background-size(cover)
  +breakpoint($break-tablet)
    height: 50px

.section-user
  .row
    border-bottom: 1px solid $gray-light
    ul
      margin: 0

.section-map,
.section-featured
  margin-top: 10em
  +breakpoint($break-mobile)
    margin-top: 0
  h2
    margin-bottom: 1em

.featured-logos li
  margin-bottom: 3em
  a
    padding: 0 2em

.section-front-header
  margin: 5em 0 10em
  +breakpoint($break-tablet)
    margin: 0 auto
    text-align: center
  h1
    font-size: 70px
    margin: 1em 0px 16px
    line-height: 1
    +breakpoint($break-mobile)
      font-size: 36px

.img-front-header
  position: absolute
  top: 0
  left: 0
  right: 0
  margin: 0 auto
  width: 1170px
  height: 100%
  background-image: url("../images/bg-header.png")
  background-position: 0 0
  background-repeat: repeat-y
  +animation(animatedBackground 10s linear infinite)

.gradient-overlay
  position: absolute
  top: 0
  width: 100%
  height: 100%
  +background-image(linear-gradient(white, transparent, white))

.logo
  max-width: 250px
  width: 100%

.info-text
  margin: 10em 0
  color: $white
  +breakpoint($break-tablet)
    margin: 2em 0
  p
    font-size: 16px

.info-text-small
  text-transform: uppercase
  color: $primary-darker
  font-size: 12px
  font-weight: bold

.header-images
  position: relative

.header-icon
  position: absolute
  top: 115px
  left: 110px

.wrapper-intro
  position: relative
  height: 100%
  min-height: 470px
  background-image: url('../images/bg-header.jpg')
  background-repeat: no-repeat
  background-position: 7em 11em
  +background-size(40%)
  +breakpoint($break-tablet)
    background-image: url("../images/bg-header-small.png")
    background-position: center bottom
    background-size: contain

.wrapper-about
  position: relative
  top: -60px
  margin: 62px 0
  padding: 60px 0
  background: $primary
  &:before, &:after
    position: absolute
    left: 0
    content: ' '
    width: 100%
    height: 62px
    display: block
  &:before
    top: -62px
    background: transparent url('../images/pattern-blue.png') top center repeat-x
  &:after
    bottom: -62px
    background: transparent url('../images/pattern-blue-bottom.png') top center repeat-x
  h2
    +breakpoint($break-mobile)
      font-size: 22px

.about-mobile-hide
  +breakpoint($break-mobile)
    display: none

.map-cities
  margin: 1em 0

.map-gyms
  margin: 3em 0
  img
    margin-bottom: 5px
    max-width: 200px
    width: 100%
    +breakpoint($break-tablet)
    max-width: 100px
  p
    color: $gray-dark

.section-footer
  color: $black-light
  font-size: 12px
  margin-top: 2em
  background: $white-darker

.section-schedule .row
  position: relative
  +breakpoint($break-tablet)
    padding-bottom: 0

.section-unlimited,
.section-schedule,
.section-commitment
  .col-md-5
    +breakpoint($break-mobile)
      padding-top: 130px
      margin-top: 1em

+breakpoint($break-mobile)
  .section-commitment .col-md-5
    background: url('../images/commitment.png') top center no-repeat
    +background-size(150px)
  .section-schedule .col-md-5
    background: url('../images/topclasses.png') top center no-repeat
    +background-size(150px)
  .section-unlimited .col-md-5
    background: url('../images/static-unlimited.png') top center no-repeat
    +background-size(150px)

.cta
  margin-top: 2em

.learn-more
  position: absolute
  bottom: 5em
  left: 50%
  margin-left: -50px
  display: block
  width: 100px
  text-align: center
  p
    color: $gray-dark
  span
    font-size: 30px

.img-graph
  background: url("../images/bg-graph.png") center bottom no-repeat
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.img-schedule
  margin: 10em 0 0
  text-align: center
  +breakpoint($break-tablet)
    margin: 2em auto 0
  img
    width: 100%
    max-width: 281px
    +breakpoint($break-tablet)
      width: 70%

.img-commit
  position: relative
  +breakpoint($break-tablet)
    top: auto
  img
    display: block
    margin: 8em auto 0
    width: 100%
    max-width: 251px
    +breakpoint($break-tablet)
      margin: 2em auto 0
      width: 60%

.img-unlimited
  position: relative
  display: block
  margin: 0 auto
  max-width: 483px
  +breakpoint($break-tablet)
    top: auto
  +breakpoint($break-tablet)
    width: 70%

.img-unlimited-bg
  width: 100%

.img-unlimited-icon
  display: block
  margin: auto
  position: absolute
  top: 0px
  right: -4%
  left: 0px
  bottom: -7%
  width: 45%

.header-details
  color: #aaaaaa
  +breakpoint($break-tablet)
    color: $black-light

.map
  width: 100%
  height: 450px
  pointer-events: none

// Logged In Page

.main-menu
  margin-top: .5em
  text-align: right
  +breakpoint($break-tablet)
    text-align: center
    margin-top: 2em
  li
    +breakpoint($break-mobile)
      padding: .5em 0
  a
    color: $gray-dark
    font-weight: bold
    text-decoration: none
    margin: 0 1.5em

    &.active,
    &:hover
      color: $primary

.user-menu a
  display: block
  border-bottom: 3px solid transparent
  &.active,
  &:hover
    color: $primary
    border-bottom-color: $primary

.user-details li,
.user-menu a
  padding: 2em 1em
  +breakpoint($break-mobile)
    padding: 1em

.user-details
  text-align: right

.user-menu,
.user-details
  +breakpoint($break-mobile)
    text-align: center

.thumbnail
  position: relative
  padding: 0
  font-size: 13px
  img
    width: 100%
  h3
    margin: 2px 0 10px
    text-transform: uppercase
    font-weight: bold
    font-size: 20px

.caption-links,
.caption-categories
  padding: 9px
  border-top: 1px solid $gray-light
  width: 100%

.caption-categories
  margin-top: 10px
  font-weight: bold
  border-top: 1px solid $gray-light
  background: $white-dark

.caption-padding
  padding: 1.5em

// Classes

.form-time
  +breakpoint($break-mobile)
    span
      margin: 5px
      +inline-block
      float: left
  input.form-control
    width: 44%
    +breakpoint($break-mobile)
      float: left

.section-classes-filter label
  margin-top: 10px

.today-date
  text-align: right
  +breakpoint($break-tablet)
    text-align: initial

// Studio Details

.schedule-day-options
  padding: 1em 0
  margin: 0
  font-size: 14px
  text-transform: uppercase
  background: $white-dark
  border: 1px solid $gray-light
  border-right: none
  border-left: none

.schedule-table
  th
    text-transform: uppercase
    font-size: 14px
  tbody > tr > td
    vertical-align: middle
