/* ==========================================================================
 * Variables
 * ========================================================================== */

$default-rotate: 18deg;
$default-border-radius: 10px;

$font-main: sans-serif;
$font-header: sans-serif;

$mobileWidth: 750px;
$tabletWidth: 970px;
$desktopWidth: 1170px;

$break-mobile: max-width $mobileWidth;
$break-tablet: max-width $tabletWidth;
$break-desktop: max-width $desktopWidth;
